<!DOCTYPE html>
<html ng-app="app" lang="pt-br">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Torneios de Valoran</title>

    <!-- Bootstrap Core CSS -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    >
</head>

<body ng-controller="TournamentManagementController">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.Partial("ApplicationName");
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
                <!--Rafael Damasio: Left this space in case o need insert some element for exemple a search bar-->
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            @Html.Partial("MenuLateral");
            <!-- /.navbar-collapse -->
        </nav>

        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Gerenciamento de torneio
                        </h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <hr />
                        <h2>Torneios em aberto</h2>
                        <div class="table-responsive">
                            <table class="table table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th> Nome torneio</th>
                                        <th>Data registro</th>
                                        <th>Time 1</th>
                                        <th>Time 2</th>
                                        <th>Time 3</th>
                                        <th>Time 4</th>
                                    </tr>
                                </thead>
                                <tbody ng-init="LoadTournaments()">
                                    <tr ng-repeat="tournaments in tournamentList">
                                        <td>{{tournaments.Name}}</td>
                                        <td>{{tournaments.RegisterDateTime |date:'dd/MM/yyyy' }}</td>
                                        <td>
                                            <div class="dropdown">
                                                <select class="form-control" style="overflow: hidden" name="TournamentControl" id="TournamentControl" ng-model="tournaments.FirstTeamName" ng-init="LoadTeams()">
                                                    <option value="">Selecione </option>
                                                    <option ng-repeat="Teams in TeamList" value="{{Teams.Name}}">{{Teams.Name}} </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <select class="form-control" style="overflow: hidden" name="TournamentControl" id="TournamentControl" ng-model="tournaments.SecondTeamName" ng-init="LoadTeams()">
                                                    <option value="">Selecione </option>
                                                    <option ng-repeat="Teams in TeamList" value="{{Teams.Name}}">{{Teams.Name}} </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <select class="form-control" style="overflow: hidden" name="TournamentControl" id="TournamentControl" ng-model="tournaments.ThirdTeamName" ng-init="LoadTeams()">
                                                    <option value="">Selecione </option>
                                                    <option ng-repeat="Teams in TeamList" value="{{Teams.Name}}">{{Teams.Name}} </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <div class="dropdown">
                                                <select class="form-control" style="overflow: hidden" name="TournamentControl" id="TournamentControl" ng-model="tournaments.FourthTeamName" ng-init="LoadCategories()">
                                                    <option value="">Selecione </option>
                                                    <option ng-repeat="Teams in TeamList" value="{{Teams.Name}}">{{Teams.Name}} </option>
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <button type="submit" class="btn btn-warning" ng-click="AddTeamToPlayOffs(tournaments)">Adicionar Times</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1>Eliminatórias</h1>
                        </div>
                        <form name="formAddFinals" ng-model="formAddFinals" ng-submit="SaveFinalTournament()" ng-init="LoadPlayOffTeam()">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"></h3>
                                        </div>
                                        <div class="panel-body">
                                            <p> {{Play.FirstTeamName }}</p>
                                        </div>
                                    </div>
                                    <h1>vs</h1>
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"></h3>
                                        </div>
                                        <div class="panel-body">
                                            <p>{{Play.SecondTeamName}}</p>
                                        </div>
                                    </div>
                                    <label>Vencedor chave A</label>
                                    <div class="dropdown">
                                        <select class="form-control" style="overflow: hidden" name="TournamentControl" id="FirstWinner" ng-model="Play.FirstWinner" ng-init="LoadCategories()">
                                            <option value="">Selecione </option>
                                            <option value="{{Play.FirstTeamName}}">{{Play.FirstTeamName}} </option>
                                            <option value="{{Play.SecondTeamName}}">{{Play.SecondTeamName}} </option>
                                        </select>
                                    </div>

                                </div>
                                <!-- /.col-sm-4 -->
                                <div class="col-sm-4">
                                    <div class="panel panel-success">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"></h3>
                                        </div>
                                        <div class="panel-body">
                                            <p>{{Play.ThirdTeamName}}</p>
                                        </div>
                                    </div>
                                    <h1>vs</h1>
                                    <div class="panel panel-success">
                                        <div class="panel-heading">

                                        </div>
                                        <div class="panel-body">
                                            <p> {{Play.FourthTeamName}}</p>
                                        </div>
                                    </div>
                                    <label>Vencedor chave B</label>
                                    <div class="dropdown">
                                        <select class="form-control" style="overflow: hidden" name="TournamentControl" id="SecondWinner" ng-model="Play.SecondWinner">
                                            <option value="">Selecione </option>
                                            <option value="{{Play.ThirdTeamName}}">{{Play.ThirdTeamName}} </option>
                                            <option value="{{Play.FourthTeamName}}">{{Play.FourthTeamName}} </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-success">Salvar vencedores eliminatórias</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <form name="formAddFinals" ng-model="formAddWinner" ng-submit="SaveWinner()" ng-init="LoadFinalTournamentTeam()">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="page-header">
                                <h1>Final</h1>
                            </div>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"></h3>
                                        </div>
                                        <div class="panel-body">
                                            <p> {{FinalTeam.FirstTeamName}}</p>
                                        </div>
                                    </div>
                                    <h1>vs</h1>
                                    <div class="panel panel-info">
                                        <div class="panel-heading">
                                            <h3 class="panel-title"></h3>
                                        </div>
                                        <div class="panel-body">
                                            <p> {{FinalTeam.SecondTeamName}}</p>
                                        </div>
                                    </div>
                                    <label>Vencedor da final </label>
                                    <div class="dropdown">
                                        <select class="form-control" style="overflow: hidden" name="TournamentControl" id="Winner" ng-model="FinalTeam.WinnerName">
                                            <option value="">Selecione </option>
                                            <option value="{{FinalTeam.FirstTeamName}}">{{FinalTeam.FirstTeamName}} </option>
                                            <option value="{{FinalTeam.SecondTeamName}}">{{FinalTeam.SecondTeamName}} </option>
                                        </select>
                                    </div>

                                </div>
                                <div class="col-sm-4">
                                    <button type="submit" class="btn btn-success">Salvar vencedor final</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="row" ng-init="LoadWinners()">
                    <div class="col-lg-12">
                        <div class="page-header">
                            <h1>Rei de valoran</h1>
                        </div>
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="panel panel-success">
                                    <div class="panel-heading">
                                        <h3 class="panel-title"></h3>
                                    </div>
                                    <div class="panel-body">
                                        <h1>{{Winner.WinnerName}}</h1>
                                        <button type="submit" class="btn btn-danger">Destronar</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <img src="http://img09.deviantart.net/95d4/i/2013/133/2/7/league_of_legends___sejuani_render_by_aliasear-d6540zf.png" alt="Smiley face" height="250" width="300">
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- /#page-wrapper -->
        </div>
        <!-- /#wrapper -->
        <!-- jQuery  and Angular -->
        <script src="/js/jquery.js"></script>

        <script src="/AngularControllers/js/angular.min.js"></script>
        <script src="/AngularControllers/js/angular-route.min.js"></script>
        <script src="~/AngularControllers/js/TournamentManagementController.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="/js/bootstrap.min.js"></script>

        <!-- Morris Charts JavaScript -->
        <script src="/js/plugins/morris/raphael.min.js"></script>
        <script src="/js/plugins/morris/morris.min.js"></script>
        <script src="/js/plugins/morris/morris-data.js"></script>
    </div>
</body>

</html>
