

<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav">
        <li>
            <a href="@Url.Action("Index", "Home")"><i class="fa fa-fw fa-dashboard"></i> Resumo</a>
        </li>
        <li>
            <a href="@Url.Action("ContenderManagement", "Home")"><i class="fa fa-fw fa-bar-chart-o"></i> Gerenciar de jogadores</a>
        </li>
        <li>
            <a href="@Url.Action("TeamRegister", "Home")"><i class="fa fa-fw fa-table"></i> Cadastro de times</a>
        </li>
        <li>
            <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Gerenciador de torneios</a>
        </li>

    </ul>
</div>

